/* Reset */

html, body {margin: 0; padding: 0; border: 0; bacground: transparent; font-size:10px; }

div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li,
table, tr, th, td, tbody, tfoot, thead {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		background: transparent;
		}

img { margin: 0; padding: 0; border: 0; }

table, tr, th, td, tbody, tfoot, thead {
	margin: 0; padding: 0; border: 0;
	vertical-align:: baseline;
	background: transparent;
	}

table { border-collapse: collapse; border-spacing: 0: }

input, select, textarea, form, fieldset {
	margin: 0; padding: 0; border: 0;
	}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block; }
	
h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike, {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%;
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #000;
	}

ol, ul { list-style: none; }

/* Global */

html { }
body	{ background-color:#fff; background-image:url(../images/cpsitebackground.jpg); background-repeat: mo-repeat; background-position: center; background-attachment: fixed;	}

/* Headings */

h1, h2, h3, h4, h5, h6 { font-family:Arial, Helvetica, sans-serif; font-weight: bold; }

h1 { font-size:24px; padding-bottom:15px; border-bottom: 1px #ccc solid;  margin-bottom: 15px; color:#FF5419;}
h2 { font-size:20px; color:#000;}
h3 { font-size:16px; color:#666; margin-bottom: 5px;}


/* Text Elements */

p					{ font-family:Arial, Helvetica, sans-serif; color:#000; font-size:12px; line-height:150%;	margin:15px 0;}
p	.left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0;	}
p	.right			{ margin: 1.5em 0 1.5em 1.5em; padding: 0;	}

a					{	}
a:link				{ color: #00f;	}
a:visited			{ color: #F60;	}
a:active			{ color: #000;	}
a:focus				{ color: #666;	}
a:hover				{ color: #f00;	}

blockquote			{ color:#000; font-size:12;}

strong				{ font-weight: bold;}
em					{ font-style: italic;}

/* Images */

/* Lists */

ul					{ text-decoration: none;}
ol					{ list-style-type: decimal;	}

ul	li				{ font-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000; font-size:12px; text-decoration: none;	}
ol	li				{ font-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000; font-size:12px; text-decoration: none;	}

/* Containers */

#outer				{ width:960px; margin:0 auto; background-color:#FFF;	}

#wrapper 			{ width:900px; margin:0 auto; background-color:#FFF;	}

#logo 				{ margin:30px 0; float: left; z-index: 1; position: absolute; }

#social-media-icons 		{ float:right; }
#social-media-icons ul li	{ display: inline; z-index: 2; position: relative; }
#social-media-icons ul		{ margin-top: 58px; }

#topnav 			{ clear:both;}
#topnav ul			{ border-top: 1px #ccc solid; border-bottom: 1px #ccc solid;
						margin: 20px 0; padding: 10px 0;	}
#topnav ul li		{ display: inline;	}
#topnav ul li a		{ font-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#000; font-size:14px; text-decoration: none;	padding: 0 15px;	}

#topnav a:link				{ color: #000; 	}
#topnav a:visited			{ color: #000;	}
#topnav a:active			{ color: #000;	}
#topnav a:focus				{ color: #666;	}
#topnav a:hover				{ color: #FF5419;	}

#banner 			{ margin-bottom: 30px;	}

#content 			{ width:600px; float: left; margin-bottom: 30px;}
#content ul li	{ display: inline; z-index: 2; position: relative; padding: 0 5px;}

#rightside 			{ width:250px; float: right; margin-bottom: 30px;}

#footer 			{ clear:both; margin-top:20px; border-top: 1px #ccc solid; padding-bottom: 20px}

/* Misc */

.date				{ font-weight: bold; color:#FF5419; margin-bottom: 3px;}
.footer				{ font-size:12px; font-style:normal; color:#000; text-align: center;}

/* Forms */

form ol		{list-style-type:none;	}

form		{text-align:left; margin:20px;	}

label		{
			float: left; width: 50px; margin-top:5px;
			text-alignment; display:block; background:none; font-weight: bold;
			}
			
submit		{background:none;	}

input		{
			width: 280px; margin: 0 0 16px 10px;
			border:1px #bbb solid; padding:5px; background: none;
			}
			
input:focus, textarea:focus {background-color:#C5F5FE;	}

textarea	{
			width: 280px; height: 150px; margin: 0 0 16px 10px;
			border: 1px #bbb solid; padding:5px; background:none;
			}
			
select		{margin-bottom:20px	}

.month		{margin-left:155px;	}

.submit		{
			width:150px; height:25px;
			margin-left:56px;
			font-size:12px;
			}
			
br			{clear: left;	}

.clear		{clear:both;	}